<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/create.js"></script>
</head>

<body onload="main()">

<header>
    <h1>Create an account</h1>
</header>

<main>

    <div>
        <label for="usernameInput">Username:</label>
        <input type="text" id="usernameInput">

        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput">

        <label for="messageInput">Enter a secret message</label>
        <input id="messageInput">
    </div>

    <div>
        <button id="createBtn">Create</button>
        <a href="/"><button>Back to login</button></a>
        <label id="createError" class="error"></label>
    </div>

    <div>
        <label>Password requirements:</label>
        <ul>
            <li>A minimum of 8 characters</li>
            <li>A maximum of 24 characters</li>
            <li>At least one lowercase letter</li>
            <li>At least one uppercase letter</li>
            <li>At least one number</li>
            <li>At least one special character</li>
        </ul>

    </div>
</main>

</body>
</html>