<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/login.js"></script>
</head>

<body onload="main()">

<header>
    <h1>Login Here</h1>
</header>

<main>
    <div>
        <label for="usernameInput">Username:</label>
        <input type="text" id="usernameInput">

        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput">
    </div>

    <div>
        <button id="loginBtn">Login</button>
        <a href="/create.html"><button>Create an account</button></a>
        <label id="loginError" class="error"></label>
    </div>
</main>

</body>
</html>